html {
	max-width: 1050px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	background-color: #1E232B;
	color: #f5f5f5;
	font-size: 24px;
	padding-bottom: 200px;
}

body {
	width: 90%;
	max-width: 500px;
	margin-left: 5%;
	
}

.header {
	font-size: 54px;
	margin-bottom: -3px;
}

a {color: #004A85; }

a:hover,a:focus,a:active {
    color: #4183C4
}

.entry {
	border-left: 10px solid darkslategray;
	padding: 0px 10px 0px 10px;
	border-radius: 0 30px 30px 0;
	margin-bottom: 20px;
}

.entry h2 { margin: 5px auto 2px auto; }

small.standalone {
	display: block;
    margin-top: -30px;
    margin-bottom: 20px;
}

footer.standalone {
	margin-top: 20px;
}

li {
    list-style-type: none;
}